@font-face {
    font-family: 'HakgyoansimPuzzleTTF-Outline';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimPuzzleTTF-Outline.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ownglyph_kimkonghae';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408@1.0/Ownglyph_kimkonghae.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    background-color: #CDE8E5;
}

h1 {
    margin-top: 40px;
    margin-left: 50px;
    font-family: 'HakgyoansimPuzzleTTF-Outline';
    font-weight: normal;
    font-style: normal;
}

a {
    color: inherit; /* 부모 요소의 색상을 따름 (h1, li 등) */
    text-decoration: none; /* 밑줄 제거 */
}

a:hover {
    text-decoration: none; /* 호버 시에도 밑줄 제거 */
}

.menubar ul li {
    display: inline; /* 메뉴 항목을 한 줄에 배치 */
    margin-right: 20px; /* 항목 간의 간격 */
}

.menubar {
    position: relative;
    top: -58px;
    text-align: right;
    right: 36px;
    font-family: 'Ownglyph_kimkonghae';
    font-weight: normal;
    font-style: normal;
    font-size: 23px;
}

.menubar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menubar li {
    display: inline; 
    margin-right: 20px; 
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    margin-top: -25px;
    padding: 18px;
    background-color: #EEF7FF; 
    border-radius: 7px;
    width: 80%; 
    max-width: 550px; 
}

.search-input {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0);
    color: #000;
    border-radius: 15px; 
    font-family: 'Ownglyph_kimkonghae';
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
}

.bi-search {
    color: #256882;
    font-size: 24px;
    transform: translateX(-15px);
}

/* .tmi-container {
    color: #08445B;
    font-family: 'Ownglyph_kimkonghae';
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    line-height: 3.0;
    padding-left: 450px;
}

.tmi2-container {
    color: #08445B;
    font-family: 'Ownglyph_kimkonghae';
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    line-height: 3.0;
} */

.tmi-wrapper {
    display: flex;
    justify-content: space-between; 
}

.tmi-container, .tmi2-container {
    width: 48%;
}

.tmi-container {
    color: #08445B;
    font-family: 'Ownglyph_kimkonghae';
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    line-height: 3.0;
    padding-left: 450px;
}

.tmi2-container {
    color: #08445B;
    font-family: 'Ownglyph_kimkonghae';
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    line-height: 3.0;
    padding-right: 290px;
}
